body {
  padding: 0 10px;
  font: 16px/1.5 monospace;
  color: #444
}

h1, h2, h3 {
  line-height: 1.2
}

@media (prefers-color-scheme: dark) {
  body {
    color: #c9d1d9;
    background: #0d1117
  }

  a:link {
    color: #56c5a9
  }

  a:visited {
    color: #0e8f6f
  }
}

hr {
  border: none;
  border-top: 2px dotted #444;
}
